@model ProductsCatalogViewModel
@{
    ViewData["Title"] = "Products By Category";
}

<h1 class="display-4 pb-5">@Model.Category</h1>

<div class="row">
    @foreach (var item in Model.Products)
    {
        <div class="col-4">
            <img src="~/media/products/@item.Image" class="img-fluid" alt="" />
            <h4>@item.Name</h4>
            <div>
                @Html.Raw(item.Description)
            </div>
            <p>
                @item.Price.ToString("C2")
            </p>
            <p>
                <a asp-controller ="Cart" asp-action="Add" asp-route-id="@item.ID" class="btn btn-primary">Add to card</a>
            </p>
        </div>
    }
    @if (@Model.TotalPages > 1)
    {
        <div class="d-flex w-100 justify-content-center">
            <pagination page-count="@Model.TotalPages" page-target="/products/@Model.Category"
                        page-number="@Model.PageNumber" page-range="@Model.PageRange"></pagination>
        </div>
    }
</div>